<h1>設定</h1>

<div class="container">
	<%= form_with(url:"/static_pages/main", method: 'get', local: true) do |f| %>
	<table>
		<tr>
			<td>
				<%= f.label :school_year, "学年" %>
			</td>
			<td>
				<%= f.number_field :school_year, min:1, max:6  %>
			</td>
			<td>
				<%= f.label :class_num, "クラス" %>
			</td>
			<td>
				<%= f.number_field :class_num, min:1, max:10 %>
			</td>

		</tr>
		<tr>
			<td><b>男女の並び</b></td>
			<td>
				<%= f.radio_button(:gender_seat_order, "random", checked: true) %><%= f.label(:gender_seat_order, "ランダム", value: "random")  %>
			</td>
			<td>
				<%= f.radio_button(:gender_seat_order, "right_w_left_m") %><%= f.label(:gender_seat_order, "左：男子\n右：女子", value: "right_w_left_m") %>
			</td>
			<td>
				<%= f.radio_button(:gender_seat_order, "right_m_left_w") %><%= f.label(:gender_seat_order, "左：女子\n右：男子", value: "right_m_left_w") %>
			</td>
			<td>
				<%= f.radio_button(:gender_seat_order, "mutual_order") %><%= f.label(:gender_seat_order, "交互", value: "mutual_order") %>
			</td>
		</tr>
		<tr>
			<td>
				<%= f.submit "表示" %>
			</td>
		</tr>
	</table>
	<% end %>
	<!-- <%= link_to "表示", "/static_pages/main" %> -->
</div>